/* Global. */

.custom-padding-right-0 {
  padding-right: 0 !important;
}

.custom-padding-left-0 {
  padding-left: 0 !important;
}

.custom-margin-bottom-0 {
  margin-bottom: 0 !important;
}

.custom-margin-top-0 {
  margin-top: 0 !important;
}

.custom-margin-0 {
  margin: 0 !important;
}


/* Main. */

.custom-control-content {
  height: auto;
  text-align: center;
}

.custom-control-buttons-section {
  padding-top: 5rem;
}

.custom-label-with-tooltip {
  margin-bottom: 1rem;
}

.custom-tooltip {
  font-size: 15px;
  opacity: .7;
  transition: .2s;
  cursor: pointer;
}

.custom-tooltip:hover {
  opacity: 1;
  transition: .2s;
}

.custom-table-content {
  overflow: auto;
  text-align: center;
}

.custom-table-hide-overflow td {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Scrollbar. */

::-webkit-scrollbar {
  height: 5px; /* vertical. */
  width: 5px; /* horizontal. */
  background-color: rgba(245, 245, 245, .7);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .3);
}
