/* Global. */

body {
  height: 60px;
  width: 125px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F5F5;
}

.custom-space-around {
  display: grid;
  align-content: space-around;
}


/* Main. */

.custom-main {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 7px 0;
  box-sizing: border-box;
}

.custom-main-buttons { 
  height: 100%;
  width: 100%;
}


/* Buttons. */

.custom-button-row {
  display: block;
  text-align: center;
}

.custom-button {
  height: 34px;
  line-height: 34px;
  margin: 0;
  width: 100%;
  padding: 0 8px;
  color: #FFF;
  border-color: #0F8FEE;
  background-color: #0F8FEE;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .5px;
  box-sizing: border-box;
  border-radius: 0;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
}

a.custom-button {
  font-size: 12px;
}

.custom-button:hover {
  background-color: #0E81D6;
  text-decoration: none;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.custom-button:active {
  border-color: #0F8FEE;
  text-decoration: none;
  outline: none;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, .1235);
}

.custom-button:focus {
  background-color: #3DA5F3;
  border-color: #0F8FEE;
  box-shadow: 0 1px rgba(0, 0, 0, .15);
}

.custom-button:disabled {
  cursor: default;
  opacity: .5;
  box-shadow: none;
  background-color: #0F8FEE;
  transition: none;
}
